<div class="wrapper fadeInDown">
  <p-toast></p-toast>
    <div id="formContent">
      <br><br>
      <div class="fadeIn first">
        <img src="assets/logo-acc-2.png" id="icon" alt="User Icon" />
      </div><br><br>
  
    
      <form  (submit)="login()">
        <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="telephone" placeholder="telephone">
        <input type="text" id="password" class="fadeIn third" [(ngModel)]="motpasse" name="login" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
   <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié?</a>
      </div>
  
    </div>
  </div>