
<div class="container h-100 wrapper">
    <p-toast></p-toast>
    <img  src="assets/logo-acc-2.png" width="100%"/>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">

            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-bookmark"></i>
                        <span> Mes Produits</span>
                    </ng-template>

                    <p-button (click)="showBasicDialog2()" icon="pi pi-plus" label="Nouveau stock"></p-button>
                    <p-dialog header="Inserer un Stock" [(visible)]="displayBasic2" [style]="{width: '50vw'}"
                        [baseZIndex]="10000">
                        <br><br>

                        <form>
                            <div class="p-fluid p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" name="nom" [(ngModel)]="nomProduit"
                                            pInputText>
                                        <label for="inputtext">Nom du produit</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" name="code" [(ngModel)]="codeProduit"
                                            pInputText>
                                        <label for="inputtext">Code du produit</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <p-inputNumber mode="decimal" [showButtons]="true" name="quantite"
                                            [(ngModel)]="quantiteProduit" inputId="minmax-buttons" [min]="0"
                                            [max]="1000000000000">
                                        </p-inputNumber>
                                        <label for="minmax-buttons">Quantité</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <input type="text" id="inputtext" name="categorie"
                                            [(ngModel)]="categorieProduit" pInputText>
                                        <label for="inputtext">Categorie</label>
                                    </span>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <p-inputNumber mode="decimal" [showButtons]="true" name="prix"
                                            [(ngModel)]="prixUnite" inputId="minmax-buttons" [min]="0" [max]="1000000000000000">
                                        </p-inputNumber>
                                        <label for="inputtext">Prix/Unité</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <textarea class="form-control"  rows="5" cols="30"  name="description" [(ngModel)]="description" ></textarea>
                                        <label for="inputtext">Description</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-2">
                                    <span class="p-float-label">
                                        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                                            rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                                        <button pButton pRipple type="submit" icon="pi pi-check" (click)="confirm1()"
                                            label="Valider" class="p-button-raised"></button>
                                    </span>
                                </div>


                            </div>
                        </form>



                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayBasic2=false" label="Ok"
                                styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>

                    <p-table [value]="product" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            Produits
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nom du produit</th>
                                <th>categorie</th>
                                <th>code</th>
                                <th>Quantité</th>
                                <th>Prix/U</th>
                                <th>Vendu</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.nom}}</td>
                                <td>{{product.categorie}}</td>
                                <td>{{product.code}}</td>
                                <td>{{product.quantite}}</td>
                                <td>{{product.prix}}</td>
                                <td>{{product.vendu}}</td>
                                <td><button pButton pRipple type="button" icon="pi pi-trash" 
                                   
                                    (click)="Delete(product._id)"  class="p-button-danger"></button>
                               </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            Accessoire.CI 
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <i class="pi pi-amazon"></i>
                        <span> Commandes</span>
                    </ng-template>



                    <form>
                        <div class="p-fluid p-grid">
                            <div class="row">
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                            <select  (change)="getProductByNom(this.nom)" [(ngModel)]="nom"  name="nom" id="inputtext"  class="form-control" >
                                              <option value="" [selected]="true">Selectionner Un produit</option>
                                              <option *ngFor="let allProduct of allProduct" [value]="allProduct.nom">{{allProduct.nom}}</option>
                                            </select>
                                        
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" name="code" [(ngModel)]="code" pInputText>
                                        <label for="inputtext">Code</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" name="categorie" [(ngModel)]="categorie" pInputText>
                                        <label for="inputtext">catégorie</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                    
                                    <p-inputNumber [(ngModel)]="prixttc" name="prixttc" inputId="locale-user" [minFractionDigits]="2">
                                    </p-inputNumber>
                                    <label for="locale-user">Prix /U</label>
                                </span> 

                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <input type="text" id="inputtext" name="couleur" [(ngModel)]="couleur"
                                            pInputText>
                                        <label for="inputtext">couleur</label>
                                    </span>
                                </div>
                              
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                   
                                    <p-inputNumber inputId="integeronly" [(ngModel)]="quantite" name="quantite" inputId="locale-user" [minFractionDigits]="2">
                                    </p-inputNumber>
                                    <label for="locale-user">Quantité</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <input type="text" id="inputtext" name="nomClient" [(ngModel)]="nomClient"
                                            pInputText>
                                        <label for="inputtext">Nom du client</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <input type="text" id="inputtext" name="adresse" [(ngModel)]="adresse"
                                            pInputText>
                                        <label for="inputtext">Adresse du client</label>
                                    </span>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label p-input-icon-right">
                                        <input type="text" id="inputtext" name="contact" [(ngModel)]="contact"
                                            pInputText>
                                        <label for="inputtext">Contact du client</label>
                                    </span>
                                </div>
                              
                                <div class="p-field p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        
                                    </span>
                                </div>
                                
                                        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                                            rejectButtonStyleClass="p-button-text"></p-confirmDialog>

                                            <div class="p-field p-col-12 p-md-4">
                                                <span class="p-float-label">
                                                    <button pButton pRipple type="submit" (click)="addPanier()" icon="pi pi-plus-circle" 
                                                    label="Ajouter"
                                                   class="p-button-raised"></button> 
                                                </span>
                                            </div>
                                            <div class="p-field p-col-12 p-md-4">
                                                <span class="p-float-label">
                                                    
                                                    <button pButton pRipple type="submit" icon="pi pi-check" 
                                                    label="Valider"
                                                   (click)="showBasicDialog3()" (click)="addPanier()" (click)="getMontant()" class="p-button-raised"></button>
                                               
                                                </span>
                                            </div>
                                           
                                          
                              
                            </div>
                            <div>
                            <p-dialog header="Bon de commande.225" [(visible)]="displayBasic3" [style]="{width: '50vw'}"
                                [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                <div>
                                <div class="container d-flex justify-content-center"  id="content"  #content>
                                    <div class="row">
                                        <div class="p-col-12" >
                                            <div class="card">
                                                <div class="card-header bg-transparent header-elements-inline">
                                                    <div class="justify-content-center"><img src="assets/logo-acc-2.png" width="250" height="50"/></div>
                                                    <div class="header-elements">BC:{{this.bonCommande}} </div>
                                                </div>
                                                        <div class="row " style="padding:20px;">
                                                            <div class="col-md-6">
                                                                <div class="pull-left">
                                                                    <ul class="list list-unstyled mb-5 text-left">
                                                                        <li>{{Boutique}} </li>
                                                                        <li>{{pays}} </li>
                                                                        <li>{{ville}}</li>
                                                                        <li>{{tel}} </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6  pull-right">
                                                                <div>
                                                                    <div class="text-sm text-right">
                                                                        <span class="invoice-color text-right">INFORMATION DU CLIENT:</span>
                                                                        <ul class="list list-unstyled">
                                                                            <li><span class="font-weight-semibold">{{nomClient}}</span></li>
                                                                            <li>{{adresse}}</li>
                                                                            <li>{{contact}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                              
                                             
                                              
                                                <div class="table-responsive">
                                                    <table class="table table-lg">
                                                        <thead>
                                                            <tr>
                                                                <th>Description de la Commande</th>
                                                                <th>quantité</th>
                                                                <th>Prix/U</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody  *ngIf="command.length!==0">
                                                            <tr *ngFor='let command of command'>
                                                                <td>
                                                                    <h6 class="mb-0">{{command.nom}}</h6> <span class="text-muted">{{command.description}}</span>
                                                                </td>
                                                                <td>{{command.quantite}}</td>
                                                                <td>{{command.prixttc}}</td>
                                                                <td><span class="font-weight-semibold">{{command.quantite*command.prixttc}}</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="card-body">
                                                    <div class="d-md-flex flex-md-wrap">
                                                        <div class="pt-2 mb-3 wmin-md-10 ml-auto">
                                                            <h6 class="mb-3 text-left">MONTANT</h6>
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="text-left">Prix Hors taxe:</th>
                                                                            <td class="text-right">{{this.sommeTTc}} F CFA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-left">Taxe: <span class="font-weight-normal">(0%)</span></th>
                                                                            <td class="text-right">0  F CFA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-left">Net à payer:</th>
                                                                            <td class="text-right text-primary">
                                                                                <h5 class="font-weight-semibold">{{this.sommeTTc}} F CFA</h5>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                
                                                    </div>
                                                </div>
                                           
                                                <hr>
                                                <div class="row" style="padding-left: 30px;"> 
                                                
                                                    <span class="text-left  mt-3" >Nous vous remercions pour votre confiance !<br> veuillez scanner  le code QR  pour consulter nos conditions <br> de retour .</span>
                                                    
                                                    <span class="text-right  mt-3">   <qrcode [qrdata]="'Retours Accpetés si l\'article ne correspond pas à sa description.Remboursement integral si vous ne recevez pas  votre commande.Accessoires.ci'+'https:\/\/www.instagram.com\/s\/aGlnaGxpZ2h0OjE4MTY3NzU3NDg0MDI4MDQ0?story_media_id=2426592395620885957_17068941622&igshid=tmsios85csgw'" [width]="80" id="icon"
                                                    alt="User Icon" [errorCorrectionLevel]="'M'"
                                                    [elementType]="'svg'"></qrcode></span></div>
                                            </div>
                                        </div>
                                        <div class="text-right mt-3">
                                            <button pButton pRipple type="bu" icon="pi pi-print" 
                                                    label="print"
                                                    (click) ="valid()"
                                                   class="p-button-danger"></button>
                                               
                                                   </div>
                               
                                    </div>
                                </div>                       
                                </div>
                                <ng-template pTemplate="footer">
                                    <p-button icon="pi pi-check" (click)="displayBasic3=false" label="Ok"
                                        styleClass="p-button-text"></p-button>
                                </ng-template>
                            </p-dialog>
                        </div>
                        </div>
                    </form>

                </p-tabPanel>
            </p-tabView>

        </div>
    </div>
</div>